{% extends 'base.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
     <link rel="stylesheet" href="{{ asset('build/tienda.css') }}">
     <link rel="stylesheet" href="{{ asset('build/categoria_app.js') }}">
{% endblock %}

{% block header %}


	<nav class="navbar navbar-expand-lg ">
   		<a class="navbar-brand" href="#">
   			<img src="https://www.mercadona.com/estaticos/images/mercadona_logo/es/mercadona-imagotipo-color-300.png"  height="30" class="d-inline-block align-top" alt=""></a>  

      <!-- poner un FORM-->


   		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
   			<div class="navbar-nav navbar-custom">
     			<form class="form-inline" id="tienda">
            <div class="form-group-inline mx-sm-3 mb-2"> 
              <i class="fas fa-search"></i><input type="Buscar productos" class="form-control" id="inputPassword2" placeholder="Buscar productos" name="cp">
              <label for="inputPassword2" class="sr-only"><i class="fas fa-search"></i> Buscar productos </label>
            </div>
          </form>
          <a class="nav-item nav-link" href="{{ path('categoria_index') }}" method="post"> Categorías </a>
     			<a class="nav-item nav-link" href="#"> Mis Habituales </a>
   			</div>
   			<span class="navbar-text">
     			Identifícate
     			<i class="fas fa-angle-down"></i>      
     			<i class="fas fa-shopping-cart"></i>
   			</span>
 			</div>
	</nav>

{% endblock %}


{% block footer %}

{% endblock %}