@import '~bootstrap/dist/css/bootstrap.min.css';

/* HEADER PAGINA PRINCIPAL */


header {
	 /*position: fixed;*/
}

header > div.alert {
	margin-top: 20px;
	text-align: center;
	text-decoration: underline; 
}

header .navbar-nav a:first-child {
	padding-left: 50px;
}

header .navbar-nav a {
    color: #229e6b;
}

header .navbar-nav a:last-child {
	margin-right: 300px;
}

header nav img {
	margin-left: 40px;
}

header nav {
	margin-bottom: 15px;
}


/* BODY PAGINA PRINCIPAL */

body {
	font-family: Muli;
}

div.fondoimagen {
	background-image: url(https://www.mercadona.es/img/header-medium.088535.jpg);
	background-size: cover;
	color: white;
	font-family: PT Serif;
	font-weight: 600px;
	text-align: right;
}

.form-inline {
	text-align: right;
}

div.fondoimagen > h1 {
	padding-top: 150px;
	padding-right: 150px;
	/*font-family: PT Serif;
	font-weight: 600px;*/
}

#img {
	padding-left: 800px;
	padding-bottom: 100px;
}

.card-group {
	margin-top: 50px;
	margin-bottom: 100px;
	margin-left: 70px;
	margin-right: 90px;
	border-radius: none;
}

#info img {
	width: 150px;
    height: 150px;
}

div.card-group > div.card > div.card-body > a {  /*ESTO NO ME FUNCIONA */
	color: #17b06f;
}

#wrapper { 
	position: relative; }

#over_map { 
	position: absolute; top: 10px; left: 10px; z-index: 99; 
	background-color:white;
	width: 400px;
}

/*#over_map button{
	margin-left:200px;
}*/

#over_map h4,p {
	padding: 25px;
}


/* FOOTER PAGINA PRINCIPAL */

footer {
	background-color: #1c3037;
	color: #cdd1d3;
	text-align: left;
}

footer .row {
	padding-top: 30px;
	padding-bottom: 0px;
	padding-left: 50px;
	padding-right: 50px;
}

footer .cli img{
	width: 175px;
    height: 50px;
}

footer .cli i{
    height: 50px;
}
footer h5 {
	color: white;
}

footer .cli {
	padding-left: 20px;
	list-style: none;
}

footer .row-inline {
	/*text-decoration: underline;*/
	font-size: 12px;
}

footer .row-inline p{
	display: inline-block;
	text-decoration: underline;
	font-size: 12px;
}