header > div.alert {
	color: #878787;
	margin-top: 20px;
	text-align: center;
	text-decoration: underline; 
}

header nav i:last-child {
	margin-left: 100px;
}

header .navbar-nav a:first-child {
	margin-left: 40px;
}

header .navbar-nav a {
    color: #229e6b;
}

header .navbar-nav a:last-child {
	margin-right: 300px;
}



.card-group li {
    color: #714000;
    border-radius: 100px;
    line-height: 32px;
    height: 32px;
    border: 1px solid #fcb831;
    font-size: inherit;
}

.card-group li:hover {
    background-color: rgba(252,184,49,.4);
}

.card-group .row .col-1-5 {
	width: 20%;
	min-height: 500px;
}








/*LIDIA*/
header > nav > div:last-child{
color: #878787;
}

.container > .row > .col:first-child{

	background: rgba(0, 0, 0, 0) linear-gradient(125deg, rgb(84, 128, 128), rgb(108, 180, 180)) repeat scroll 0% 0%;
}



.container h1{
	color: white;
	font-family: PT Serif;
	font-size: 2.00rem;
	font-weight: 600;
	line-height: 1.25;
	text-align: left;
	letter-spacing: .3px;
	box-sizing: border-box;
}

.container li{
	color: rgb(255, 255, 255);
	box-sizing: border-box;
	margin: 0;
	cursor: pointer;
	border: none;
	font-family: Muli;
	background-color: hsla(0,0%,100%,.3);
	opacity: .9;
	text-align: center;
	font-weight: 400;
	width: 146px;
	height: 36px;
	border-radius: 20px;
	letter-spacing: .5px;
	font-size: 1rem;
}

/* /tienda/categoria */

/*.row .col-3 ol {
	background-color: #f8f8f7;
	padding-top: 10px;
	padding-bottom: 10px;
}*/

#content, html, body{
    height: 98%;
}
#left {
    float: left;
    width: 25%;
    height: 100%;
    overflow-y: scroll;
}
#right {
    float: left;
    width: 75%;
    height: 100%;
    overflow-y: scroll;
}

ul {
  	list-style-type: none;
  	background-color: #e6e6e6;
}


li:first-child i.category-icon{

  background-image: url(https://tienda.mercadona.es/v1.1.1/static/media/category-icons.cd434998.svg);

  width: 28px;

  height: 28px;

  display: inline-table;

  margin-right: 8px;

  margin-left: 6px;

  background-position: -84px -28px;
  /*background-position: -336px -28px;*/

  }



 li:nth-child(2) i.category-icon{

  background-image: url(https://tienda.mercadona.es/v1.1.1/static/media/category-icons.cd434998.svg);

  width: 28px;

  height: 28px;

  display: inline-table;

  margin-right: 8px;

  margin-left: 6px;
	background-position: -308px -28px;
  /*background-position: -336px 0;*/



  }

 li:nth-child(3) i.category-icon{

  background-image: url(https://tienda.mercadona.es/v1.1.1/static/media/category-icons.cd434998.svg);

  width: 28px;

  height: 28px;

  display: inline-table;

  margin-right: 8px;

  margin-left: 6px;

  background-position: -84px -28px;

  }



li:nth-child(4) i.category-icon{

  background-image: url(https://tienda.mercadona.es/v1.1.1/static/media/category-icons.cd434998.svg);

  width: 28px;

  height: 28px;

  display: inline-table;

  margin-right: 8px;

  margin-left: 6px;

  background-position: -308px -28px;

  }



li:nth-child(5) i.category-icon{

  background-image: url(https://tienda.mercadona.es/v1.1.1/static/media/category-icons.cd434998.svg);

  width: 28px;

  height: 28px;

  display: inline-table;

  margin-right: 8px;

  margin-left: 6px;

  background-position: -252px -28px;

  }



li:nth-child(6) i.category-icon{

  background-image: url(https://tienda.mercadona.es/v1.1.1/static/media/category-icons.cd434998.svg);

  width: 28px;

  height: 28px;

  display: inline-table;

  margin-right: 8px;

  margin-left: 6px;

  background-position: -224px -28px;

  }



li:nth-child(7) i.category-icon{

  background-image: url(https://tienda.mercadona.es/v1.1.1/static/media/category-icons.cd434998.svg);

  width: 28px;

  height: 28px;

  display: inline-table;

  margin-right: 8px;

  margin-left: 6px;

  background-position: -112px 0;

  }

 li:nth-child(8) i.category-icon{

  background-image: url(https://tienda.mercadona.es/v1.1.1/static/media/category-icons.cd434998.svg);

  width: 28px;

  height: 28px;

  display: inline-table;

  margin-right: 8px;

  margin-left: 6px;

  background-position: -28px 0;

  }

 li:nth-child(9) i.category-icon{

  background-image: url(https://tienda.mercadona.es/v1.1.1/static/media/category-icons.cd434998.svg);

  width: 28px;

  height: 28px;

  display: inline-table;

  margin-left: 6px;

  margin-right: 8px;



  }

 li:nth-child(10) i.category-icon{

  background-image: url(https://tienda.mercadona.es/v1.1.1/static/media/category-icons.cd434998.svg);

  width: 28px;

  height: 28px;

  display: inline-table;

  margin-right: 8px;

  margin-left: 6px;

 background-position: -168px 0;

  }

 li:nth-child(11) i.category-icon{

  background-image: url(https://tienda.mercadona.es/v1.1.1/static/media/category-icons.cd434998.svg);

  width: 28px;

  height: 28px;

  display: inline-table;

  margin-right: 8px;

  margin-left: 6px;

  background-position: -28px -28px;

  }

 li:nth-child(12) i.category-icon{

  background-image: url(https://tienda.mercadona.es/v1.1.1/static/media/category-icons.cd434998.svg);

  width: 28px;

  height: 28px;

  display: inline-table;

  margin-right: 8px;

  margin-left: 6px;

  background-position: -140px 0;

  }

 li:nth-child(13) i.category-icon{

  background-image: url(https://tienda.mercadona.es/v1.1.1/static/media/category-icons.cd434998.svg);

  width: 28px;

  height: 28px;

  display: inline-table;

  margin-right: 8px;

  margin-left: 6px;

  background-position: -84px 0;

  }

 li:nth-child(14) i.category-icon{

  background-image: url(https://tienda.mercadona.es/v1.1.1/static/media/category-icons.cd434998.svg);

  width: 28px;

  height: 28px;

  display: inline-table;

  margin-right: 8px;

  margin-left: 6px;

  background-position: -224px 0;

  }

 li:nth-child(15) i.category-icon{

  background-image: url(https://tienda.mercadona.es/v1.1.1/static/media/category-icons.cd434998.svg);

  width: 28px;

  height: 28px;

  display: inline-table;

  margin-right: 8px;

  margin-left: 6px;

  background-position: -196px -28px;

  }

 li:nth-child(16) i.category-icon{

  background-image: url(https://tienda.mercadona.es/v1.1.1/static/media/category-icons.cd434998.svg);

  width: 28px;

  height: 28px;

  display: inline-table;

  margin-right: 8px;

  margin-left: 6px;

  background-position: -280px 0;

  }

 li:nth-child(17) i.category-icon{

  background-image: url(https://tienda.mercadona.es/v1.1.1/static/media/category-icons.cd434998.svg);

  width: 28px;

  height: 28px;

  display: inline-table;

  margin-right: 8px;

  margin-left: 6px;

  background-position: -280px -28px;

  }

 li:nth-child(18) i.category-icon{

  background-image: url(https://tienda.mercadona.es/v1.1.1/static/media/category-icons.cd434998.svg);

  width: 28px;

  height: 28px;

  display: inline-table;

  margin-right: 8px;

  margin-left: 6px;

  background-position: -140px -28px;

  }

 li:nth-child(19) i.category-icon{

  background-image: url(https://tienda.mercadona.es/v1.1.1/static/media/category-icons.cd434998.svg);

  width: 28px;

  height: 28px;

  display: inline-table;

  margin-right: 8px;

  margin-left: 6px;

  background-position: -252px 0;

  }



 li:nth-child(20) i.category-icon{

  background-image: url(https://tienda.mercadona.es/v1.1.1/static/media/category-icons.cd434998.svg);

  width: 28px;

  height: 28px;

  display: inline-table;

  margin-right: 8px;

  margin-left: 6px;

  background-position: -56px -28px;

  }

 li:nth-child(21) i.category-icon{

  background-image: url(https://tienda.mercadona.es/v1.1.1/static/media/category-icons.cd434998.svg);

  width: 28px;

  height: 28px;

  display: inline-table;

  margin-right: 8px;

  margin-left: 6px;

 background-position: -308px 0;

  }

 li:nth-child(22) i.category-icon{

  background-image: url(https://tienda.mercadona.es/v1.1.1/static/media/category-icons.cd434998.svg);

  width: 28px;

  height: 28px;

  display: inline-table;

  margin-right: 8px;

  margin-left: 6px;

  background-position: 0 -28px;

  }

 li:nth-child(23) i.category-icon{

  background-image: url(https://tienda.mercadona.es/v1.1.1/static/media/category-icons.cd434998.svg);

  width: 28px;

  height: 28px;

  display: inline-table;

  margin-right: 8px;

  margin-left: 6px;

  background-position: -196px 0;

  }

 li:nth-child(24) i.category-icon{

  background-image: url(https://tienda.mercadona.es/v1.1.1/static/media/category-icons.cd434998.svg);

  width: 28px;

  height: 28px;

  display: inline-table;

  margin-right: 8px;

  margin-left: 6px;

  background-position: -112px -28px;

  }

 li:nth-child(25) i.category-icon{

  background-image: url(https://tienda.mercadona.es/v1.1.1/static/media/category-icons.cd434998.svg);

  width: 28px;

  height: 28px;

  display: inline-table;

  margin-right: 8px;

  margin-left: 6px;

  background-position: -56px 0;

  }

 li:nth-child(26) i.category-icon{

  background-image: url(https://tienda.mercadona.es/v1.1.1/static/media/category-icons.cd434998.svg);

  width: 28px;

  height: 28px;

  display: inline-table;

  margin-right: 8px;

  margin-left: 6px;

  background-position: -168px -28px;

  }


/*.category-icon {
    background-image: url(/v1.1.1/static/media/category-icons.cd434998.svg);
    width: 28px;
    height: 28px;
    display: inline-table;
    margin-right: 8px;
}*/