<footer>

	<div class="row">
        <div class="cli">
        	<ul>
                <h5><b> Cliente </b></h5>
        		<li> Supermercados </li>
				<li> Consejos </li>
				<li> Tarjeta Mercadona </li>
				<li> Factura cliente </li>			
        	</ul>
        </div>
         <div class="cli">
        	<ul>
                <h5><b> Trabajador </b></h5>
        		<li> Trabaja con nosotros </li>		
        	</ul>
        </div>
        <div class="cli">
        	<ul>
                <h5><b> Proveedor </b></h5>
        		<li> E-factura proveedores </li>
				<li> Portal Trinidad </li>		
        	</ul>
        </div>
		<div class="cli">
        	<ul>
                <h5><b> Sociedad </b></h5>
        		<li> Actualidad </li>
				<li> Sala de prensa </li>	
				<li> Conoce Mercadona </li>
				<li> Mercadona en Portugal </li>		
        	</ul>
        </div>
        <div class="cli">
        	<ul>
        		<li><i class="fas fa-envelope"></i> Contacto </li>
        		<li> <img src="https://www.mercadona.es/v1.0.14-94/img/call-center-web.c57be9.png"> </li>
				<p> <i class="fab fa-facebook-square">     <i class="fab fa-twitter">     <i class="fab fa-youtube">    <i class="fab fa-instagram"></i></i></i></i>  </p>	
        	</ul>
        </div>
    </div>
        <div class="row-inline">
            <p> © Mercadona S.A. A46103834. Todos los derechos reservados.  <p>  Accesibilidad  Política de privacidad  Política de cookies  Términos y condiciones </p></p>
        </div> 
</footer>