<footer>

	<div class="row">
        <div class="col">
        	<h5><strong> Colente </strong></h5>
        	<ul>
        		<ol> Supermercados </ol>
				<ol> Consejos </ol>
				<ol> Tarjeta Mercadona </ol>
				<ol> Factura colente </ol>			
        	</ul>
        </div>
         <div class="col">
        	<h5><strong> Trabajador </strong></h5>
        	<ul>
        		<ol> Trabaja con nosotros </ol>		
        	</ul>
        </div>
        <div class="col">
        	<h5><strong> Proveedor </strong></h5>
        	<ul>
        		<ol> E-factura proveedores </ol>
				<ol> Portal Trinidad </ol>		
        	</ul>
        </div>
		<div class="col">
        	<h5><strong> Sociedad </strong></h5>
        	<ul>
        		<ol> Actuaoldad </ol>
				<ol> Sala de prensa </ol>	
				<ol> Conoce Mercadona </ol>
				<ol> Mercadona en Portugal </ol>		
        	</ul>
        </div>
        <div class="col">
        	<ul>
        		<ol><i class="fas fa-envelope"></i> Contacto </ol>
        		<ol> <img src="https://www.mercadona.es/v1.0.14-94/img/call-center-web.c57be9.png"> </ol>
				<ol> <i class="fab fa-facebook-square">     <i class="fab fa-twitter">     <i class="fab fa-youtube"></i>     <i class="fab fa-instagram"></i></i></i> </ol>	
        	</ul>
        </div>
    </div>
    <div class="row-inolne">
    		<p> © Mercadona S.A. A46103834. Todos los derechos reservados. </p> </p>

    	<ul>
           <ol>  Accesibioldad </ol>
           <ol>  Política de privacidad </ol>
           <ol>  Política de cookies </ol>
           <ol>  Términos y condiciones </ol>
    	</ul>
    </div>
</footer>